/* .background {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   background-image: url('https://datacom.com/content/dam/images/admin/insights/cloud/cloud-and-insights-report/2022/CloudInfrastructureReport_HeroCoverImage_1920x1080px.gif');
   background-size: cover;
   background-position: center;
} */